
body,img{margin: 0;  border: none;}

body{

	background: black;
	overflow-x: hidden;
}
.imgWall{
	width: 1080px; 
	transform: translate(50%,220px) rotateX(45deg) rotateZ(45deg) ;
	transform-style: preserve-3d;
	
}

.smbox{
	position: relative;
	width: 330px; 
	height: 230px;
	margin: 15px;
	float:left;
	
	
	transition: 0.3s;
}
.smbox img,.smbox div{
	position: absolute;
	width: 330px; height: 230px;
	z-index: 4;
	transition:	0.3s;
	left: 0;
	top: 0;
}
.smbox div:nth-of-type(1){
	background: pink;
	z-index: 3;
}
.smbox div:nth-of-type(2){
	background: greenyellow;
	z-index: 2;
}
.smbox div:nth-of-type(3){
	background: mediumorchid;
	z-index: 1;
}

.smbox:hover{
	box-shadow: 0 0 50px #fff;
	cursor: pointer;
}
.smbox:hover img:nth-of-type(1){
	transform: translateZ(100px);
}
.smbox:hover div:nth-of-type(1){
	transform: translateZ(70px);
}
.smbox:hover div:nth-of-type(2){
	transform: translateZ(50px);
}
.smbox:hover div:nth-of-type(3){
	transform: translateZ(20px);
}

.nav{
	width: 600px; height: 400px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -200px; 
	transition: 0.3s;
	display: none;
	transform: scale(0);
	transform-origin: center;
}
.nav .img img{
	position: absolute;
	top: 0;
	left: 0;
}
.prev,.next{
	width: 50px; height: 45px;
	position: absolute;
	top:165px;
	z-index: 999;
	cursor: pointer;
}
.prev{
	background: url(../images/prev.png);
	left: 0;
}
.next{
	background: url(../images/next.png);
	right: 0;
}
#shadowBox{
	width: 100%; height: 100%;
	background: rgba(0,0,0,0.5);
	display: none;
	position: absolute;
	left: 0;
	top: 0;

}
